{% load static %}
<!DOCTYPE html>
<html>
<script src="{% static 'Chart.js' %}"></script>
<body>
<canvas id="myChart" style="width:100%;max-width:80%"></canvas>
<script>
let chart1 = new Chart("myChart", {
  type: "line",
  data: {
    labels: {{xval | safe}},
    datasets: [
{% for k, v in ipcol.items %}
     {
      label: "{{k}}",
      borderColor: "{{v.color | safe}}",
      data: {{v.data | safe}}
       },
{% endfor %}
    ]
  },
  options: {
    title: {display: true,
    text : "Packets/Second"},       
  }
});

setInterval(() => {
fetch('/update')
	.then(response => {
		return response.json(); 
	})
	.then(data => {
		
		if(chart1.data.labels.length >= {{tm}}) {
			chart1.data.labels.splice(0,1);}
		chart1.data.datasets.forEach((ds) => {
			if(ds.data.length >= {{tm}}) {
			ds.data.splice(0,1);}
		});
		
		chart1.data.labels.push(data.xval);

		for(ip in data.ipcol){
			ix=0;
			chart1.data.datasets.forEach((ds) => {			
				if(ds.label == ip) {
					ix=1;
				} 
			});
			if(ix==0){
				chart1.data.datasets.push({ label: ip,
      					borderColor: data.ipcol[ip]['color'],
      					data: data.ipcol[ip]['data'] });
			}
		}			
		chart1.data.datasets.forEach((ds) => {			
			ds.data.push(data.ipcol[ds.label]['data']);
		});
		chart1.update();				
	})
	.catch(error => {
		console.error('error:',error);
	});
},{{per}}*1000);

</script>
</body>
</html>

