{% load static %}
<!DOCTYPE html>
<html>
<script src="{% static 'Chart.js' %}"></script>
<body>
<canvas id="myChart" style="width:100%;max-width:80%"></canvas>
<script>
let xValues = {{xval | safe}};
let colorlst={{colorlst | safe}};
let chart1 = new Chart("myChart", {
  type: "line",
  data: {
    labels: {{xval | safe}},
    datasets: [
{% for k, v in allip.items %}
     {
      label: "{{k}}",
      borderColor: colorlst[{{forloop.counter0}}],
      data: {{v | safe}}
       },
{% endfor %}
    ]
  },
  options: {
    title: {display: true,
    text : "Packets/Second"},       
  }
});

setInterval(() => {
fetch('/update')
	.then(response => {
		return response.json(); 
	})
	.then(data => {
		dataset=[];
		var ix = 0;	
		if(chart1.data.labels.length >= data.tm) {
			chart1.data.labels.splice(0,1);
			chart1.data.datasets.forEach((ds) => {
			ds.data.splice(0,1);
		});
		}
		chart1.data.labels.push(data.xval);			
		chart1.data.datasets.forEach((ds) => {
			ds.data.push(data.allip[ds.label]);
		});
		chart1.update();				
	})
	.catch(error => {
		console.error('error:',error);
	});
},{{per}}*1000);

</script>
</body>
</html>

